<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="background-color: #494949; color: white;"
      class="text-center justify-content-center h-auto py-3">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item>Dashboard</a>
      <a mat-list-item>Submit request</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div>

      <div class="d-flex justify-content-center text-center ">
        <!-- Card -->
        <mat-card class="px-3 mx-5 mt-5">
          <mat-card-content>
            <div class="row ">
              <div class="col-auto text-center my-auto">
                <div class="d-flex flex-row gap-2">
                  <div class="d-flex border  rounded-circle my-auto "
                    style="width: 10px; height: 10px; border-color: #B1A31E; background-color: #F6AF25;"></div>
                  <span>Processing request </span>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- Table -->
      <div class="vstack">

        <div class="d-flex mx-auto justify-content-center text-center w-75  py-5 ">
          <!-- <div class=" "> -->
          <div class="vstack">
            <table mat-table [dataSource]="datasource" class="mw-25 shadow rounded-5">
              <ng-container matColumnDef="leaveId">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.leaveId}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef> Starting Date </th>
                <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef> End Date </th>
                <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="leaveType">
                <th mat-header-cell *matHeaderCellDef> Leave Type </th>
                <td mat-cell *matCellDef="let element"> {{element.leaveType}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-card *ngIf="isDataSourceEmpty">
              <mat-card-content>No request has been made yet</mat-card-content>
            </mat-card>
          </div>

        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of leave submissions" class="mx-auto" style="background-color: #FAFAFA;">
        </mat-paginator>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>