
<div class="container mt-4">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Leave Request Form</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="leaveForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <mat-label>First Name</mat-label>
              <input value="employeeFirstName" readonly matInput placeholder="First Name">
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <mat-label>Last Name</mat-label>
              <input value="employeeLastName" readonly   matInput placeholder="Last Name">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <mat-form-field >
                <mat-label>Leave Type</mat-label>
                <mat-select formControlName="leaveType" >
                  <mat-option value="SICK">SICK</mat-option>
                  <mat-option value="ANNUAL">ANNUAL</mat-option>
                  <mat-option value="UNPAID">UNPAID</mat-option>
                  <mat-option value="MATERNITY">MATERNITY</mat-option>
                </mat-select>
                <mat-error *ngIf="leaveForm.get('leaveType')?.hasError('required')">Please enter a leave type.</mat-error>
              </mat-form-field>


            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <mat-form-field class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input value="employeePosition" readonly  matInput placeholder="Job Position">
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <mat-form-field>
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker" >
                  <input matStartDate placeholder="Start date" formControlName="startDate">
                  <input matEndDate placeholder="End date" formControlName="endDate">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error *ngIf="leaveForm.get('endDate')?.hasError('required')">Please enter a start and an end date</mat-error>
                <mat-error *ngIf="leaveForm.get('startDate')?.hasError('invalidStartDate')">Invalid start date</mat-error>
                <mat-error *ngIf="leaveForm.get('endDate')?.hasError('invalidEndDate')">Invalid end date</mat-error>

              </mat-form-field>

            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <mat-form-field>
                <mat-label>Note</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <button mat-raised-button color="accent">Send Request</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

</div>





