<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Apply for a Leave Request</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="leaveForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="firstName" class="form-label">First Name</label>
              <input type="text" class="form-control" id="firstName" formControlName="firstName">
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="lastName" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lastName" formControlName="lastName">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="leaveType" class="form-label">Leave Type</label>
              <input type="text" class="form-control" id="leaveType" formControlName="leaveType">
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="position" class="form-label">Position</label>
              <input type="text" class="form-control" id="position" formControlName="position">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <mat-form-field>
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date">
                  <input matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="note" class="form-label">Note</label>
              <textarea class="form-control" id="note" formControlName="note"></textarea>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Send Request</button>
        </div>
      </form>
    </div>
  </div>
</div>





